*.iml
.gradle
.idea
/.idea/*
/local.properties
/.idea/workspace.xml
/.idea/libraries
/app/google-services.json
.DS_Store
/build
/captures
/delivery/credentials/*
/delivery/keys/*
/app/release/*
.externalNativeBuild
/app/release
